alembic==1.15.2
argon2-cffi==23.1.0
fastapi==0.115.12
httpx==0.28.1
matplotlib==3.10.1
openpyxl==3.1.5
oracledb==2.5.1
pandas==2.2.3
psycopg[binary]==3.2.6
pydantic==2.11.3
pydantic-settings==2.9.1
python-multipart==0.0.20
pyodbc==5.2.0
reportlab==4.3.1
RestrictedPython==8.2
sqlalchemy==2.0.40
uvicorn[standard]==0.34.2
xlrd==2.0.1
